<mat-card class="authentication-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Login</mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <mat-form-field appearance="fill" class="w-100-per">
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="errorHandling('email', 'required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="errorHandling('email', 'email')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100-per">
                <mat-label>Enter your password</mat-label>
                <input matInput formControlName="password" type="password" >
                <mat-error *ngIf="errorHandling('password', 'required')">
                    Password is required
                </mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary">Log In</button>
                <span class="spacer"></span>
                <a mat-flat-button [routerLink]="['/registration']">Sign Up</a>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>